.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Ficha técnica:             
            | documento que contiene la información necesaria para la fabricación de un producto, los datos que allí se consignan deben estar detallados rigurosamente por procesos y procedimientos.
        hr
        p
            strong.mr-2 Insumo:             
            | bien de cualquier clase empleado en la producción de otros bienes.
        hr
        p
            strong.mr-2 Material:             
            | materia extraída de la naturaleza y que se transforma para elaborar materiales que más tarde se convertirán en bienes de consumo.
        hr
        p
            strong.mr-2 Norma técnica:             
            | una norma técnica es un documento aprobado por un organismo reconocido que establece especificaciones técnicas basadas en los resultados de la experiencia y del desarrollo tecnológico, que hay que cumplir en determinados productos, procesos o servicios.
        hr
        p
            strong.mr-2 Patrón base:             
            | se construye mediante la aplicación del trazado de líneas para crear un plano bidimensional que una vez ensamblado mediante costuras formará un plano tridimensional, una prenda.
        hr
        p
            strong.mr-2 Plan:             
            | un plan es un diagrama o lista de pasos con detalles de tiempo y recursos, utilizados para lograr un objetivo de hacer algo.
        hr
        p
            strong.mr-2 Productividad:             
            | relación entre la cantidad de productos obtenida mediante un sistema productivo y los recursos empleados en su producción.
        hr
        p
            strong.mr-2 Protocolo:             
            | conjunto de reglas de formalidad que rigen los actos y ceremonias diplomáticos y oficiales.
        hr