.container#page-introduccion

    .header-ecored
        h1 3. Alistamiento de máquinas y equipos según protocolos

    .jumbotron.bg-white  

      .jumbotron.mb-0
        .row.justify-content-center.align-items-center        
          .col-auto
            img(src="assets/images/pages/tema3/info_01.svg", style="width: 200px").img-fluid.mb-3.mb-md-0
          .col-12.col-md
            p Para iniciar los procesos de confección se debe tener en cuenta el alistamiento de las máquinas y equipos según protocolos establecidos como asepsia, distanciamiento entre personas y puestos de trabajo; los cuales ayudan a prevenir el contagio y la propagación del Coronavirus-COVID19.

            p.mb-0 Es importante realizar la limpieza de su espacio de trabajo, así como el de la máquina y herramientas a emplear, de acuerdo con los #[strong protocolos de bioseguridad]. Lo invitamos a revisar la siguiente información: 
      

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0#tema3_1         
            h2 3.1 Alistamiento de máquinas y equipos según protocolos

      .row.justify-content-center.align-items-center.my-5         
        .col-auto.mb-5         
          img(src="assets/images/pages/tema3/img_01.png", alt="" style="width: 200px;").img-fluid  

        .col-12.col-md-7
          p La higiene de manos es el método más efectivo para la prevención en la transmisión de microorganismos y la propagación de infecciones a otras personas. El uso de jabón es muy importante para el lavado de las manos en forma efectiva, los estudios muestran que reduce significativamente la presencia de microbios (virus y bacterias).</br></br>En el siguiente video conocerá los pasos para realizar un correcto lavado y secado de manos e ingreso al área de desinfección:

      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/kH8vDwWLvLQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Bioseguridad   
                
    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0#tema3_2          
            h2 3.2 Protocolo de bioseguridad - Limpieza de maquinaria, herramientas y equipos.

      .row.justify-content-center.align-items-center.mb-5  
        .col-auto.mb-5         
          img(src="assets/images/pages/tema3/img_02.png", alt="" style="width: 200px;").img-fluid 

        .col-12.col-md-7
          p En este video conocerá el proceso de desinfección de mesa de corte, cortadora vertical y cortadora circular:
                
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SGL28j0Hpzg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Bioseguridad II


    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-0#tema3_3       
            h2 3.3 Protocolo de bioseguridad - Desinfección área de trabajo confección.

      .row.justify-content-center.align-items-center.my-5  
        .col-auto.mb-5         
          img(src="assets/images/pages/tema3/img_03.png", alt="" style="width: 200px;").img-fluid  

        .col-12.col-md-7
          p En este video conocerá el procedimiento para la limpieza y desinfección de: máquina fileteadora, agujas de máquina fileteadora, máquina plana una (1) aguja, caja bobinas y carreteles:
                
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GD7kPxHunRU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Bioseguridad III

        